body {
    background-color: var(--primary-color);
}

:root {
    --primary-color : rgb(250, 201, 158);

}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover,
nav li.active a {
    color: white;
}

h3 {
    color: white;
    margin-top: 50px;
}

.emphasis {
    color: black;
    font-size: 50px;
}

.btn {
    color: var(--primary-color);
    margin-top: 40px;
}

.occasions {
    margin-top: 30px;
}

h4 {
    color: black;
}

h5 {
    color: var(--primary-color);
}



h2 {
    
    color: red;
    font-weight: 700;
    
}

.promo {
    background-color: white;
    margin: 150px 0 50px 0px;
    padding: 20px 0 20px 100px;
}

.promo-flower {
    border-radius: 10px;
}

.reduced-price {
    color: red;
}

footer {
    padding-top: 80px;
}

footer .contact-box {
    background: black;
    padding: 30px 120px;
    margin-bottom: 30px;
}

footer .customer {
    color: var(--primary-color);
}

footer p {
    font-weight: bold;
}

footer .email-link {
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

footer .email-link:hover {
    color: white;
}

footer .contact-links a {
    margin: 0 20px;
    color: black;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
    padding: 10px 14px;
    transition: all 100ms ease-in-out;
}

footer .contact-links a:hover {
    color: black;
    background: white;
}

